@import '~antd-mobile/dist/antd-mobile.less';
// 引入官方提供的 less 样式入口文件
@import '../animation.less';

:global(.transitionWrapper-enter) {
  //opacity: 0.01;
  //transition: opacity 5000ms ease-in;
}

:global(.transitionWrapper-enter.transitionWrapper-enter-active) {
  //opacity: 1;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

:global(.transitionWrapper-leave) {
  //opacity: 1;
  //transition: opacity 300ms ease-in;
}

:global(.transitionWrapper-leave.transitionWrapper-leave-active) {
  //opacity: 0;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeOutLeft;
}

.transitionWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
